@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.background {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/chatbg.png");
    height: 100vh;
    background-size: cover;
    color: #ffffff;
    font-family: Roboto;
}

.m-heading {
    font-size: 20px;
    text-align: center;
    background-color: #323f4b;
    padding: 15px;
    color: #ffffff;
}



.font1 {
    font-size: 13px;
    text-align: right;
    background-color: #47a3f3;
    font-family: Roboto;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.font2 {
    font-size: 13px;
    text-align: left;
    background-color: #52606d;
    font-family: Roboto;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.padding {
    padding: 15px;
}
